 <!DOCTYPE html>
<html lang="en">
    <!--Jeremie Koehler 12/12/12-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg bg-light">
        <div class="container-fluid">
            <div>
                <a class="navbar-brand" href="#">EShop</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="Home.html"><span class="glyphicon glyphicon-home"></span> HOME</a></li>
                <li><a href="Products.html"><span class="glyphicon glyphicon-tag"></span> PRODUCTS</a></li>
            </ul>            
            <ul class="nav navbar-nav navbar-right">
                <li><a href="User.html"><span class="glyphicon glyphicon-user"></span> MEMBER</a></li>
                <li><a href="Cart.html"><span class="glyphicon glyphicon-shopping-cart"></span> CART</a></li>
            </ul>  
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </div>
                <button class="btn btn-outline-success" type="button" onclick="location.href = 'Products.html'"><span class="glyphicon glyphicon-search"></span> </button>
            </form>
        </div>
    </nav>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/Under%20Development.png" alt="#">
            </div>
            <div class="item">
                <img src="images/Under%20Development.png" alt="#">
            </div>
            <div class="item">
                <img src="images/Under%20Development.png" alt="#">
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</body>
</html>