<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="Products.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="margin-left: 25px">

    <nav class="navbar fixed-top navbar-expand-lg bg-light">
        <div class="container-fluid">
            <div>
                <a class="navbar-brand" href="#">EShop</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="Home.html"><span class="glyphicon glyphicon-home"></span> HOME</a></li>
                <li><a href="Products.html"><span class="glyphicon glyphicon-tag"></span> PRODUCTS</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="User.html"><span class="glyphicon glyphicon-user"></span> MEMBER</a></li>
                <li><a href="Cart.html"><span class="glyphicon glyphicon-shopping-cart"></span> CART</a></li>
            </ul>
            <form class="navbar-form navbar-right" action="/action_page.php">
                <div class="form-group">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </div>
                <button class="btn btn-outline-success" type="submit"><span class="glyphicon glyphicon-search"></span> </button>
            </form>
        </div>
    </nav>

<h2>Category 1</h2>
<div class="row">
    <div class="column">
        <div class="content">
            <img src="images/Under%20Development.png" alt="Product 1">
            <h3>Name: {{catalogue[A]["name"]}}</h3>
            <h3>Price: {{catalogue[A]["price"]}}</h3>
            <button type="button">Add To Cart</button>
        </div>
    </div>
    <div class="column">
        <div class="content">
            <img src="images/Under%20Development.png" alt="Product 2">
            <h3>Name: {{catalogue[B]["name"]}}</h3>
            <h3>Price: {{catalogue[B]["price"]}}</h3>
            <button type="button">Add To Cart</button>
        </div>
    </div>
    <div class="column">
        <div class="content">
            <img src="images/Under%20Development.png" alt="Product 3">
            <h3>Name: {{catalogue[C]["name"]}}</h3>
            <h3>Price: {{catalogue[C]["price"]}}</h3>
            <button type="button">Add To Cart</button>
        </div>
    </div>
    <div class="column">
        <div class="content">
            <img src="images/Under%20Development.png" alt="Product 4">
            <h3>Name: {{catalogue[D]["name"]}}</h3>
            <h3>Price: {{catalogue[D]["price"]}}</h3>
            <button type="button">Add To Cart</button>
        </div>
    </div>
</div>

<h2>Category 2</h2>
<div class="row">
    <div class="column">
        <div class="content">
            <img src="images/Under%20Development.png" alt="Product 1">
            <h3>Name: {{catalogue[a]["name"]}}</h3>
            <h3>Price: {{catalogue[a]["price"]}}</h3>
            <button type="button">Add To Cart</button>
        </div>
    </div>
    <div class="column">
        <div class="content">
            <img src="images/Under%20Development.png" alt="Product 2">
            <h3>Name: {{catalogue[b]["name"]}}</h3>
            <h3>Price: {{catalogue[b]["price"]}}</h3>
            <button type="button">Add To Cart</button>
        </div>
    </div>
    <div class="column">
        <div class="content">
            <img src="images/Under%20Development.png" alt="Product 3">
            <h3>Name: {{catalogue[c]["name"]}}</h3>
            <h3>Price: {{catalogue[c]["price"]}}</h3>
            <button type="button">Add To Cart</button>
        </div>
    </div>
    <div class="column">
        <div class="content">
            <img src="images/Under%20Development.png" alt="Product 4">
            <h3>Name: {{catalogue[d]["name"]}}</h3>
            <h3>Price: {{catalogue[d]["price"]}}</h3>
            <button type="button">Add To Cart</button>
        </div>
    </div>
</div>

<h2>Category 3</h2>
<div class="row">
    <div class="column">
        <div class="content">
            <img src="images/Under%20Development.png" alt="Product 1">
            <h3>Name: {{catalogue[one]["name"]}}</h3>
            <h3>Price: {{catalogue[one]["price"]}}</h3>
            <button type="button">Add To Cart</button>
        </div>
    </div>
    <div class="column">
        <div class="content">
            <img src="images/Under%20Development.png" alt="Product 4">
            <h3>Name: {{catalogue[two]["name"]}}</h3>
            <h3>Price: {{catalogue[two]["price"]}}</h3>
            <button type="button">Add To Cart</button>
        </div>
    </div>
    <div class="column">
        <div class="content">
            <img src="images/Under%20Development.png" alt="Product 3">
            <h3>Name: {{catalogue[three]["name"]}}</h3>
            <h3>Price: {{catalogue[three]["price"]}}</h3>
            <button type="button">Add To Cart</button>
        </div>
    </div>
    <div class="column">
        <div class="content">
            <img src="images/Under%20Development.png" alt="Product 4">
            <h3>Name: {{catalogue[four]["name"]}}</h3>
            <h3>Price: {{catalogue[four]["price"]}}</h3>
            <button type="button">Add To Cart</button>
        </div>
    </div>
</div>

</body>
</html>